__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.python-version
.venv/
.env
.envrc
.mypy_cache/
.pytest_cache/
.cache/
*.log
artifacts/
coverage.xml
htmlcov/
.vscode/
.idea/
.DS_Store
.molecule/
ansible/.retry
*.retry
node_modules/
.runner/
